/* Estilos generales */
body {
    background: #616058;
background: linear-gradient(90deg, rgba(97, 96, 88, 1) 0%, rgba(217, 198, 132, 1) 50%, rgba(97, 96, 88, 1) 100%);
}

.titulo{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.footer {
    background-color: #343a40 !important;
    color: #ffffff;
    padding: 1rem 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #cec17b !important;
    transition: color 0.3s ease;
}

.documentosGenerales-card{
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    justify-content: center;
    border-radius: 25px;
}

.botongral{
    background-color: #3a3d44; 
    border-color: #000000;
    color: white;
}

.botongral:hover{
    background-color: #cec17b;
    border-color: white;
    transition: background-color 0.2s ease, color 0.3s ease;
}
.botongral:active {
    background-color: #a89e6f !important;
    color: #fff !important;
    border-color: #cec17b !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2) inset;
    transition: background-color 0.1s, color 0.1s;
}

.botongral:disabled,
.botongral[disabled] {
    background-color: #e0e0e0 !important;
    color: #7e7d7d !important;
    border-color: #cccccc !important;
    cursor: not-allowed !important;
    opacity: 1 !important; /* Para que no se vea muy transparente */
    box-shadow: none !important;
}