/* Estilos generales */
body {
    background-color: #6e6c6c;
}

/* .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #0A1936 !important;
} */

.footer {
    background-color: #343a40 !important;
    color: #ffffff;
    padding: 1rem 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #cec17b !important;
    transition: color 0.3s ease;
}

.documentosGenerales-card{
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    justify-content: center;
    border-radius: 25px;
}