{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="documentosGenerales-card col-12 col-sm-10 col-md-6 col-lg-6 col-xl-8">
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque aut ut
            iure tempora libero, laborum alias sed enim vero quisquam tenetur
            voluptates dolorum nihil nostrum dolor repudiandae similique, ipsa
            possimus ducimus autem magni. Quae inventore delectus totam cupiditate
            voluptas. Facilis tempore vero, deleniti nemo repellendus error
            perspiciatis voluptas saepe aperiam nisi, explicabo sequi voluptatum
            praesentium? Obcaecati officia, quibusdam aspernatur, quasi magnam
            laudantium consectetur incidunt laboriosam ratione dolorem delectus quo!
            Nam distinctio blanditiis quo et mollitia? Consequuntur neque
            voluptatem, aspernatur obcaecati ab dicta id odit saepe molestiae
            similique. Unde, ex sequi. Reiciendis facilis quasi aspernatur eligendi
            aliquid quibusdam pariatur deserunt culpa?
            </p>
        </div>
    </div>
</div>

{% endblock %}
