{% extends 'base.html' %} {% block content %} {% load static %}

<div class="documentoAcostado">
  <h1>Hola!</h1>
  <p>
    Este es un prototipo del Portal para Afiliados desarrollado para
    <a href="https://www.industrialesmx.org/" target="_blank">IndustrialesMX</a>
    durante mi estadía profecional (septiembre,2024 a enero,2025) requerida por
    mi universiadad para poder graduarme.
  </p>
  <p>
    Por motivos legales este proyecto no muestra el producto final y funcional
    del verdadero Portal para Afiliados de
    <a href="https://www.industrialesmx.org/" target="_blank">IndustrialesMX</a
    >. Tanto el aspecto visual (Front-End) como el aspecto logico (Back-End)
    fueron cambiados para protejer los datos privados de IndustrialesMX y sus
    socios.
  </p>
  <p>
    Si bien este proyecto muestra funciones parecidas al Portal para Afiliados
    no tengo planeado lucrar ni plagiar la propiedad intelectual de
    IndustrialesMX mi unica intencion es mostrar mis conocimientos y capacidades
    de programacion y desarrollo aprendidas durante mi estadía profecional.
  </p>
  <p>
    Si tienes alguna duda o quieres aclarar algo relacionado con este proyecto
    puedes contactarme por los siguientes medios:
  </p>
  <div
    class="container d-flex flex-wrap justify-content-start p-4 text-white gap-4"
  >
    <span class="badge rounded-pill text-bg-secondary">
      <a href="mailto:davidhcuevas01@gmail.com " class="text-white text-de">
        davidhcuevas01@gmail.com
      </a>
    </span>

    <span class="badge rounded-pill text-bg-secondary justify-content-center">
      <a
        href="https://www.linkedin.com/in/davidhernandezcuevas/"
        target="_blank"
        class="text-white"
      >
        LinkedIn
      </a>
    </span>
    <span class="badge rounded-pill text-bg-secondary">
      <a
        href="https://github.com/DavidCu-dev"
        target="_blank"
        class="text-white"
      >
        GitHub
      </a>
    </span>
  </div>
  <p>A continuacion se muesta un video tutorial del uso del proyecto:</p>
  
  <p>Para ver el codigo es este proyecto da click al siguiente enlace:</p>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="button">Aceptar</button>
  </div>
</div>

{% endblock %}
