{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container mt-4">
  <h1 class="text-center titulo">INICIO</h1>
  <div class="text-center">
            <img src="static/images/profile.webp" alt="" class="rounded-circle" style="width: 200px; height: 200px;">
            <h4>{{datosUsuario.user}}</h4>
  </div>
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
  <div class="accordion m-4 " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button card-header"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
          style="background-color: #cec17b;"
        >
          <strong>Datos de Usuario</strong>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Propietario: </strong>{{datosUsuario.propietario}}
              </li>
              <li class="list-group-item">
                <strong>Email: </strong>{{datosUsuario.email}}
              </li>
              <li class="list-group-item">
                <strong>RFC: </strong>{{datosUsuario.rfc}}
              </li>
              <li class="list-group-item">
                <strong>Telefono: </strong>{{datosUsuario.telefono}}
              </li>
              <li class="list-group-item">
                <strong>Razon Social: </strong>{{datosUsuario.razonSocial}}
              </li>
              <li class="list-group-item">
                <strong>Domicilio: </strong>{{datosUsuario.domicilio}}
              </li>
              <li class="list-group-item">
                <strong>Descripcion: </strong>{{datosUsuario.descripcion}}
              </li>
              <li class="list-group-item text-center">
                <a href="{% url 'actualizar' %}">
                  <button class="btn btn-primary botongral">
                    Actualizar Datos
                  </button>
                </a>
              </li>     
            </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
          style="background-color: #cec17b;"
        >
            <strong>Formularios</strong> 
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="alert alert-warning text-center" role="alert">
            ⚠️ Estos formularios son solo para fines de prueba. No ingreses datos reales. Usa nombres y direcciones simuladas.
          </div>
          <p class="card-text">
            Estos formularios son un ejemplo de documentos que se pueden llenar y descargar en formato Word/Excel para cualquier uso. <br>
            El texto que se muestra aquí y en todos los demas formularios son parte de Lorem Ipsum, un texto ficticio utilizado en la industria de la impresión y el diseño gráfico para llenar espacios y simular contenido real. <br>
            El proposito de los formurarios es que el usuario pueda llenar los campos y se vean reflejados en una base de datos, y posteriormente se pueda descargar el documento en formato Word y Excel. <br>
            Cabe mencionar que los formularios son un ejemplo y no tienen validez legal, ya que no estan firmados por un notario o autoridad competente.
          </p>

          <!-- declaraoria de propiedad -->

          <div class="card mb-3 ">
              <h5 class="card-header alert alert-warning">Declaratoria de Propiedad</h5>
            <div class="card-body">
              <p class="card-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sit, natus ratione ut minima inventore fugiat id! Voluptates repellendus, repellat ratione nostrum veritatis ullam voluptas voluptate impedit quae enim harum iure cum hic? Saepe nulla facilis nihil soluta hic eligendi iste ducimus quaerat, optio, modi quod minima repudiandae magnam quas neque ullam vero quo quidem aut obcaecati beatae quae temporibus. Quas iure velit autem doloribus eos. Iure corporis eaque est, totam recusandae deleniti modi amet et fugit deserunt, iusto nihil enim dicta nulla aperiam, quisquam laboriosam impedit. Labore reiciendis omnis magnam eligendi atque doloribus, quaerat iure in, sint qui enim?
              </p>
              <div class="d-grid gap-4">
                <div class="row text-center">
                  <div class="col-12 col-md-6 mt-3">
                      <a href="{% url 'declaratoriaPropiedad' %}">
                        <button class="btn btn-primary w-100 botongral">
                            Llenar Formulario
                        </button>
                      </a>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                      <form action="{% url 'generarDeclaratoria' %}" method="get">
                        <button class="btn btn-primary w-100 botongral" type="submit" {% if not formDPexiste %}disabled{% endif %}>
                          
                            Descargar
                        </button>
                      </form>
                    </div>
                </div>
            </div>
            </div>
          </div>

          <!-- declaratoria Cumplimiento Ambiental -->

          <div class="card mb-3">
              <h5 class="card-header alert alert-warning">Declaratoria de Cumplimiento Ambiental</h5>
            <div class="card-body">
              <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, sequi! Quas inventore exercitationem pariatur, esse non doloremque cumque voluptate repellat ab soluta repudiandae. Mollitia recusandae quae, ex molestias rem libero, porro vero saepe eius rerum minus neque sit labore nihil error quisquam minima necessitatibus temporibus cum quibusdam repudiandae ea nisi ipsa iure! Expedita illum dolore aliquam quasi deserunt iusto impedit architecto, delectus suscipit voluptatum alias? Voluptatibus, sapiente? Exercitationem ex quas atque itaque culpa rem ducimus quos laborum ullam! Et in nesciunt odio mollitia tempore iusto error. Enim, error fugit! Earum aspernatur ad minus rerum id. Consectetur corrupti sapiente ipsa ab.
              </p>
              <div class="d-grid gap-4">
                <div class="row text-center">
                  <div class="col-12 col-md-6 mt-3">
                      <a href="{% url 'declaratoriaCA' %}">
                        <button class="btn btn-primary w-100 botongral">
                            Llenar Formulario
                        </button>
                      </a>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                      <form action="{% url 'generarDeclaratoriaCA' %}" method="get">
                        <button class="btn btn-primary w-100 botongral" type="submit" {% if not formCAexiste %}disabled{% endif %}>
                            Descargar
                        </button>
                      </form>
                    </div>
                </div>
            </div>
            </div>
          </div>

          <!-- carta notificacion -->
          <div class="card mb-3">
              <h5 class="card-header alert alert-warning">Carta de notificacion</h5>
            <div class="card-body">
              <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, sequi! Quas inventore exercitationem pariatur, esse non doloremque cumque voluptate repellat ab soluta repudiandae. Mollitia recusandae quae, ex molestias rem libero, porro vero saepe eius rerum minus neque sit labore nihil error quisquam minima necessitatibus temporibus cum quibusdam repudiandae ea nisi ipsa iure! Expedita illum dolore aliquam quasi deserunt iusto impedit architecto, delectus suscipit voluptatum alias? Voluptatibus, sapiente? Exercitationem ex quas atque itaque culpa rem ducimus quos laborum ullam! Et in nesciunt odio mollitia tempore iusto error. Enim, error fugit! Earum aspernatur ad minus rerum id. Consectetur corrupti sapiente ipsa ab.
              </p>
              <div class="d-grid gap-4">
                <div class="row text-center">
                  <div class="col-12 col-md-6 mt-3">
                      <a href="{% url 'cartaNotificacion' %}">
                        <button class="btn btn-primary w-100 botongral">
                            Llenar Formulario
                        </button>
                      </a>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                      <form action="{% url 'generarCartaNotificacion' %}" method="get">
                        <button class="btn btn-primary w-100 botongral" type="submit" {% if not formCNexiste %}disabled{% endif %}>
                            Descargar
                        </button>
                      </form>
                    </div>
                </div>
            </div>
            </div>
          </div>

          <!-- reporteVisitaTecnica -->
          <div class="card mb-3">
              <h5 class="card-header alert alert-warning">Reporte de visita tecnica</h5>
            <div class="card-body">
              <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, sequi! Quas inventore exercitationem pariatur, esse non doloremque cumque voluptate repellat ab soluta repudiandae. Mollitia recusandae quae, ex molestias rem libero, porro vero saepe eius rerum minus neque sit labore nihil error quisquam minima necessitatibus temporibus cum quibusdam repudiandae ea nisi ipsa iure! Expedita illum dolore aliquam quasi deserunt iusto impedit architecto, delectus suscipit voluptatum alias? Voluptatibus, sapiente? Exercitationem ex quas atque itaque culpa rem ducimus quos laborum ullam! Et in nesciunt odio mollitia tempore iusto error. Enim, error fugit! Earum aspernatur ad minus rerum id. Consectetur corrupti sapiente ipsa ab.
              </p>
              <div class="d-grid gap-4">
                <div class="row text-center">
                  <div class="col-12 col-md-6 mt-3">
                      <a href="{% url 'reporteVisitaTecnica' %}">
                        <button class="btn btn-primary w-100 botongral">
                            Llenar Formulario
                        </button>
                      </a>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                      <form action="{% url 'generarReporteVT' %}" method="get">
                        <button class="btn btn-primary w-100 botongral" type="submit" {% if not formRVTexiste %}disabled{% endif %}>
                            Descargar
                        </button>
                      </form>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  // Aquí puedes agregar scripts específicos para esta plantilla
</script>
{% endblock %}
